body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color:  var(--text);
}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
}

.container {
    width: 40%;
    margin: 60px auto;
    text-align: center;
}
.card {
    background: var(--card);
    backdrop-filter: blur(15px);
    padding: 30px;
    border-radius: 15px;
}


input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    margin: 10px 0;
}

.btn {
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    border: none;
    padding: 12px;
    width: 100%;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #00c6ff;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 40px;
}

.movie-card {
     background: var(--card);
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;
}

.movie-card:hover {
    transform: scale(1.08);
}

.movie-card img {
    width: 100%;
}

.movie-info {
    padding: 10px;
}

.spinner {
    display: none;
    margin-top: 20px;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #00c6ff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}

.title {
    text-align: center;
    margin-top: 20px;
}

.error {
    text-align: center;
    color: red;
}
body.light {
    background: #f5f5f5;
}
* {
    transition: all 0.3s ease-in-out;
}
.toggle-btn {
    width: 70px;
    height: 35px;
    background: #222;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    overflow: hidden;
}

.icon {
    font-size: 14px;
    z-index: 1;
}

.sun {
    margin-left: 5px;
}

.moon {
    margin-right: 5px;
}

.circle {
    position: absolute;
    width: 26px;
    height: 26px;
    background: white;
    border-radius: 50%;
    left: 5px;
    transition: 0.3s;
    z-index: 2;
}


body.light .toggle-btn {
    background: #ddd;
}

body.light .circle {
    transform: translateX(35px);
}

.toggle-btn:hover {
    box-shadow: 0 0 12px #00c6ff;
}
.logo {
    font-size: 22px;
    font-weight: 600;
    background: linear-gradient(45deg, #00c6ff, #ff7e5f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}